{block content}
<h1 n:block='title'>Výpis</h1>

<p>{$user->getIdentity()->meno}</p>
<p>{$user->getIdentity()->priezvisko}</p>
<p>{$user->getIdentity()->telefon}</p>


<a n:href="Sign:in">Prihlásenie</a>  
<a n:href="signOut!">Odhlasit sa</a>

{/block}
